.menu-item {
  padding-top: 150px;
  margin-bottom: 10px;
  display: flex;
  .product-item {
    min-height: 300px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    text-align: center;
    padding: 20px;
    h2 {
      font-size: $fs-1;
    }
    img {
      height: 150px;
    }
    p {
      @include styleText($color-blue-1, $fs-1, $fw-2);
    }
    .btn {
      margin-top: 20px;
    }
  }
}
