.menu-item {
  flex-wrap: wrap;
  padding-top: 150px;
  justify-content: space-between;
  .product-item {
    flex: 0 0 calc(33.33% - 20px);
    min-height: 300px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 0px;
    text-align: center;
    padding: 20px;
    margin-bottom: 30px;
    h2 {
      font-size: $fs-2;
      margin-top: 10px;
      font-weight: $fw-3;
    }
    img {
      height: 150px;
    }
    p {
      @include styleText($color-blue-1, $fs-1, $fw-2);
    }
    span {
      color: green;
      font-weight: $fw-4;
      display: block;
      margin-bottom: 30px;
    }
    .product-buttons {
      margin-top: 0;
      .btn-add {
        background-color: #c2fbd7;
        border-radius: 100px;
        box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
          rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px,
          rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
          rgba(44, 187, 99, 0.15) 0 16px 32px;
        color: green;
        cursor: pointer;
        display: inline-block;
        font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto,
          sans-serif;
        padding: 7px 20px;
        text-align: center;
        text-decoration: none;
        transition: all 250ms;
        border: 0;
        font-size: 16px;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
      }
      .btn-add:hover {
        box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset,
          rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px,
          rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px,
          rgba(44, 187, 99, 0.25) 0 16px 32px;
        transform: scale(1.05) rotate(-1deg);
      }
    }
  }
  .product-item:hover {
    transform: scale(1.1);
    transition: all 0.5s ease;
  }
}
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: auto;
  right: 0;
  width: 30%;
  height: 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  z-index: 9999;
  background-color: #fff;

  #btn-close {
    position: absolute;
    z-index: 999;
    top: 0;
    right: 0;
    color: red !important;
  }
  @keyframes square-in-bottom-left {
    from {
      clip-path: inset(0 0 100% 100%);
    }
    to {
      clip-path: inset(0 0 0 0);
    }
  }

  [transition-style="in:square:bottom-left"] {
    animation: 2.5s cubic-bezier(0.25, 1, 0.3, 1) square-in-bottom-left both;
  }

  .btn-checkout {
    position: absolute;
    bottom: 0;
    width: 100%;
    align-items: center;
    background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ff00);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(65, 252, 127, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #ffffff;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: $fs-1;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
  }

  .btn-checkout:active,
  .btn-checkout:hover {
    outline: 0;
  }

  .btn-checkout span {
    background-color: rgb(6, 150, 42);
    padding: 10px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
  }

  .btn-checkout:hover span {
    background: none;
  }

  @media (min-width: 768px) {
    .btn-checkout {
      font-size: 24px;
      min-width: 196px;
    }
  }
  .modal-heading {
    position: relative;
    h1 {
      color: #176b87;
      font-size: $fs-3;
      text-align: center;
      padding-top: 50px;
      font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto,
        sans-serif;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
    }
  }
}

.modal-content {
  top: 55%;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  left: 50%;
  width: 100%;
  height: 75%;
  overflow-y: auto;
  transform: translate(-50%, -50%);
  padding-top: 60px;
  border: none;
  transition: right 1s ease;
  animation: 2.5s cubic-bezier(0.25, 1, 0.3, 1) square-in-bottom-left both;
  z-index: 0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  z-index: 9999;

  h2 {
    font-size: $fs-2;
  }
  p {
    font-weight: $fw-3;
  }
}

.modal.active {
  display: block;
}
.cart-items {
  .total-div {
    text-align: center;
  }
  .cart-item {
    margin-bottom: 20px;
    text-align: center;
    img {
      height: 100px;
    }
    .quantity-button {
      font-size: $fs-2;
      // margin-right: 20px;
      background-color: $color-blue-2;
      border: none;
      padding: 2px 7px;
      color: $color-white-3;
      margin-bottom: 10px;
    }
  }
}

.carousel {
  .carousel-inner {
    .carousel-item {
      img {
        object-fit: fill;
        max-height: 500px;
      }
    }
  }
}
.price-total {
  text-align: center;
}
