* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
}

html {
  font-size: 16px;
  color: #656774;
}

#header {
  position: fixed;
  width: 100%;
  z-index: 10;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px, rgb(51, 51, 51) 0px 0px 0px 2px;
}
#header .navbar-brand {
  color: #2a73dd;
  font-size: 1.8rem;
  font-weight: 700;
  font-family: "Lobster", cursive;
  padding-left: 20%;
}
#header #navbarNav {
  justify-content: flex-end;
  padding-right: 20%;
}
#header #navbarNav .cart-icon {
  display: flex;
  align-items: center;
  cursor: pointer;
}
#header #navbarNav .cart-icon .cart-quantity {
  font-size: 14px;
  margin-left: 5px;
  color: #2a73dd;
  font-weight: 500;
}
#header #navbarNav .cart-icon .fa {
  font-size: 1.1rem;
  color: #2a73dd;
}
#header #navbarNav .cart-icon .fa:hover {
  transform: scale(1.1);
  transition: all 0.5s ease;
}
#header #navbarNav .nav-item .nav-link {
  padding: 25px;
  font-size: 1.1rem;
}
#header #navbarNav .nav-item .nav-link::after {
  content: "";
  width: 100%;
  height: 2px;
  display: block;
  background-color: #2a73dd;
  transform: scaleX(0);
  transition: 0.2s;
}
#header #navbarNav .nav-item .nav-link:hover::after {
  transform: scalex(1);
}
#header #navbarNav .nav-item.active .nav-link {
  color: #2a73dd;
  font-weight: 700;
}
#header #navbarNav .nav-item.active .nav-link::after {
  transform: scaleX(1);
}

.menu-item {
  flex-wrap: wrap;
  padding-top: 150px;
  justify-content: space-between;
}
.menu-item .product-item {
  flex: 0 0 calc(33.33% - 20px);
  min-height: 300px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 0px;
  text-align: center;
  padding: 20px;
  margin-bottom: 30px;
}
.menu-item .product-item h2 {
  font-size: 1.1rem;
  margin-top: 10px;
  font-weight: 600;
}
.menu-item .product-item img {
  height: 150px;
}
.menu-item .product-item p {
  color: #1d365e;
  font-size: 14px;
  font-weight: 500;
}
.menu-item .product-item span {
  color: green;
  font-weight: 700;
  display: block;
  margin-bottom: 30px;
}
.menu-item .product-item .product-buttons {
  margin-top: 0;
}
.menu-item .product-item .product-buttons .btn-add {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset, rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px, rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px, rgba(44, 187, 99, 0.15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.menu-item .product-item .product-buttons .btn-add:hover {
  box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset, rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px, rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px, rgba(44, 187, 99, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}
.menu-item .product-item:hover {
  transform: scale(1.1);
  transition: all 0.5s ease;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: auto;
  right: 0;
  width: 30%;
  height: 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  z-index: 9999;
  background-color: #fff;
}
.modal #btn-close {
  position: absolute;
  z-index: 999;
  top: 0;
  right: 0;
  color: red !important;
}
@keyframes square-in-bottom-left {
  from {
    -webkit-clip-path: inset(0 0 100% 100%);
            clip-path: inset(0 0 100% 100%);
  }
  to {
    -webkit-clip-path: inset(0 0 0 0);
            clip-path: inset(0 0 0 0);
  }
}
.modal [transition-style="in:square:bottom-left"] {
  animation: 2.5s cubic-bezier(0.25, 1, 0.3, 1) square-in-bottom-left both;
}
.modal .btn-checkout {
  position: absolute;
  bottom: 0;
  width: 100%;
  align-items: center;
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ff00);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(65, 252, 127, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 14px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}
.modal .btn-checkout:active,
.modal .btn-checkout:hover {
  outline: 0;
}
.modal .btn-checkout span {
  background-color: rgb(6, 150, 42);
  padding: 10px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}
.modal .btn-checkout:hover span {
  background: none;
}
@media (min-width: 768px) {
  .modal .btn-checkout {
    font-size: 24px;
    min-width: 196px;
  }
}
.modal .modal-heading {
  position: relative;
}
.modal .modal-heading h1 {
  color: #176b87;
  font-size: 1.8rem;
  text-align: center;
  padding-top: 50px;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.modal-content {
  top: 55%;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  left: 50%;
  width: 100%;
  height: 75%;
  overflow-y: auto;
  transform: translate(-50%, -50%);
  padding-top: 60px;
  border: none;
  transition: right 1s ease;
  animation: 2.5s cubic-bezier(0.25, 1, 0.3, 1) square-in-bottom-left both;
  z-index: 0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  z-index: 9999;
}
.modal-content h2 {
  font-size: 1.1rem;
}
.modal-content p {
  font-weight: 600;
}

.modal.active {
  display: block;
}

.cart-items .total-div {
  text-align: center;
}
.cart-items .cart-item {
  margin-bottom: 20px;
  text-align: center;
}
.cart-items .cart-item img {
  height: 100px;
}
.cart-items .cart-item .quantity-button {
  font-size: 1.1rem;
  background-color: #2a73dd;
  border: none;
  padding: 2px 7px;
  color: #fff;
  margin-bottom: 10px;
}

.carousel .carousel-inner .carousel-item img {
  -o-object-fit: fill;
     object-fit: fill;
  max-height: 500px;
}

.price-total {
  text-align: center;
}/*# sourceMappingURL=user.css.map */