@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  position: relative;
}

html {
  font-size: 16px;
  color: #656774;
}

#header {
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
}
#header .cart-icon {
  display: flex;
  align-items: center;
  cursor: pointer;
}
@media (max-width: 767px) {
  #header .cart-icon {
    margin-left: 30px;
  }
}
#header .cart-icon .cart-quantity {
  font-size: 14px;
  margin-left: 5px;
  color: #2a73dd;
  font-weight: 500;
}
#header .cart-icon .fa {
  font-size: 1.1rem;
  color: #2a73dd;
}
#header .cart-icon .fa:hover {
  transform: scale(1.5);
  transition: all 0.5s ease;
}
#header .navbar-brand {
  color: #2a73dd;
  font-size: 1.8rem;
  font-weight: 700;
  font-family: "Lobster", cursive;
  padding-left: 10%;
}
#header .navbar-toggler {
  position: relative;
}
#header .navbar-toggler .cart-quantity-toggler {
  position: absolute;
  top: -20%;
  color: #2a73dd;
  font-size: 1.1rem;
  font-weight: 700;
}
#header #navbarNav {
  justify-content: flex-end;
  padding-right: 20%;
}
@media (max-width: 991px) and (min-width: 767px) {
  #header #navbarNav {
    padding-right: 2%;
  }
}
#header #navbarNav .nav-item .nav-link {
  padding: 25px;
  font-size: 1.1rem;
}
#header #navbarNav .nav-item .nav-link::after {
  content: "";
  width: 100%;
  height: 2px;
  display: block;
  background-color: #2a73dd;
  transform: scaleX(0);
  transition: 0.2s;
}
@media (max-width: 767px) {
  #header #navbarNav .nav-item .nav-link::after {
    width: 20%;
  }
}
#header #navbarNav .nav-item .nav-link:hover::after {
  transform: scalex(1);
}
#header #navbarNav .nav-item.active .nav-link {
  color: #2a73dd;
  font-weight: 700;
}
#header #navbarNav .nav-item.active .nav-link::after {
  transform: scaleX(1);
}

.menu-item {
  display: flex;
  flex-wrap: wrap;
  padding-top: 150px;
}
.menu-item .product-item {
  flex: 0 0 calc(25% - 10px);
  min-height: 300px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 0px;
  text-align: center;
  padding: 20px;
  white-space: nowrap;
}
@media (max-width: 1199px) and (min-width: 992px) {
  .menu-item .product-item {
    flex: 0 0 calc(33.33% - 20px);
  }
}
@media (max-width: 992px) and (min-width: 768px) {
  .menu-item .product-item {
    flex: 0 0 50%;
  }
}
@media (max-width: 767px) {
  .menu-item .product-item {
    flex: 0 0 100%;
  }
}
.menu-item .product-item h2 {
  font-size: 1.1rem;
  margin-top: 10px;
  font-weight: 600;
}
@media (max-width: 1200px) {
  .menu-item .product-item h2 {
    font-size: 14px;
  }
}
.menu-item .product-item img {
  width: auto;
  max-height: 100px;
}
.menu-item .product-item p {
  color: #1d365e;
  font-size: 14px;
  font-weight: 500;
}
.menu-item .product-item span {
  color: green;
  font-weight: 700;
  display: block;
  margin-bottom: 30px;
}
.menu-item .product-item .product-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-item .product-item .product-buttons button {
  margin: 5px;
}
.menu-item .product-item .product-buttons .btn-add {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset, rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px, rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px, rgba(44, 187, 99, 0.15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.menu-item .product-item .product-buttons .btn-add:hover {
  box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset, rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px, rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px, rgba(44, 187, 99, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
  background-color: #176b87;
  color: #fff;
}
.menu-item .product-item:hover {
  transform: scale(1.1);
  transition: all 0.5s ease;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: auto;
  right: 0;
  width: 30%;
  height: 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  z-index: 9999;
  background-color: #fff;
}
@media (max-width: 767px) {
  .modal {
    width: 60%;
  }
}
@media (max-width: 479px) {
  .modal {
    width: 80%;
  }
}
.modal #btn-close {
  position: absolute;
  z-index: 999;
  top: 2%;
  right: 2%;
  color: wheat;
}
.modal #btn-close:hover {
  background-color: #176b87;
  border: none;
}
@keyframes square-in-bottom-left {
  from {
    -webkit-clip-path: inset(0 0 100% 100%);
            clip-path: inset(0 0 100% 100%);
  }
  to {
    -webkit-clip-path: inset(0 0 0 0);
            clip-path: inset(0 0 0 0);
  }
}
.modal [transition-style="in:square:bottom-left"] {
  animation: 2.5s cubic-bezier(0.25, 1, 0.3, 1) square-in-bottom-left both;
}
.modal .btn-checkout {
  position: absolute;
  bottom: 0;
  width: 100%;
  align-items: center;
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset, rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px, rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px, rgba(44, 187, 99, 0.15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
@media (min-width: 768px) {
  .modal .btn-checkout {
    font-size: 24px;
    min-width: 196px;
  }
}
.modal .modal-heading {
  position: relative;
}
.modal .modal-heading h1 {
  color: #176b87;
  font-size: 1.8rem;
  text-align: center;
  padding-top: 50px;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.modal-content {
  top: 55%;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  left: 50%;
  width: 80%;
  height: 75%;
  overflow-y: auto;
  transform: translate(-50%, -50%);
  padding-top: 60px;
  border: none;
  transition: right 1s ease;
  animation: 2.5s cubic-bezier(0.25, 1, 0.3, 1) square-in-bottom-left both;
  z-index: 0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  z-index: 9999;
}
.modal-content h2 {
  font-size: 1.1rem;
}
.modal-content p {
  font-weight: 600;
}

.modal.active {
  display: block;
}

.cart-items {
  position: relative;
}
.cart-items .total-div {
  text-align: center;
}
.cart-items .cart-item {
  margin-bottom: 20px;
  text-align: center;
}
.cart-items .cart-item img {
  height: 100px;
}
.cart-items .cart-item .quantity-button {
  font-size: 1.1rem;
  background-color: #2a73dd;
  border: none;
  padding: 2px 7px;
  color: #fff;
  margin-bottom: 10px;
  margin-left: 10px;
}
.cart-items .cart-item .btnn-remove {
  position: absolute;
  right: 25%;
  font-size: 10px;
  top: 10%;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1750px);
  }
}
.slider {
  background: white;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 100px;
  margin: auto;
  overflow: hidden;
  width: 100%;
  margin-top: 200px;
}
.slider::before, .slider::after {
  background: linear-gradient(to right, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100px;
  width: 200px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  width: 3500px;
}
.slider .slide {
  height: 100px;
  width: 250px;
}

.price-total {
  text-align: center;
}

.findArea {
  text-align: center;
  margin-top: 100px;
}
.findArea #selectPhone {
  padding: 15px 40px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border: none;
  outline: none;
  color: #176b87;
  font-size: 1.1rem;
  font-weight: 700;
  transition: all 1s;
}
.findArea #selectPhone option {
  transition: all 1s;
}
.findArea #selectPhone:hover {
  background-color: #176b87;
  color: #fff;
}

#backToTopBtn {
  display: none; /* Ban đầu nút ẩn đi */
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: green;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 15px;
  font-size: 16px;
  cursor: pointer;
  z-index: 999;
  transition: all 1s;
}

#backToTopBtn:hover {
  background-color: #333;
}/*# sourceMappingURL=user.css.map */